# Disable all directories.
*/*
# !.gitignore

# Enable `Jenkins Service/init.groovy.d`.
!Jenkins Service/
Jenkins Service/*
!Jenkins Service/init.groovy.d/

# Enable `Scripts`.
!Scripts/

# Enable `Windows/Installation/com/tal/jenkins`.
!Windows/
Windows/*
!Windows/Installation/
Windows/Installation/*
!Windows/Installation/com

# Enable `Windows/Installation/testScript.groovy`.
!Windows/Installation/testScript.groovy
